<footer>
    <div>
        <a href="https://www.linkedin.com/in/wbaslow/" >Linkedin</a>
        <a href="https://twitter.com/w_baslow">Twitter</a>
        <a href="https://github.com/wad-im">Github</a>
    </div>
    <address>
        <p>hello@wadimbaslow.com</p>
    </address>
    <p><a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>,  { new Date().getFullYear().toString()}</p>
</footer>