<header>
    <a href='/'>
        <div>WB</div>
        <h1>wadim baslow</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>